@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply pl-4 pr-4;
  font-family: "Raleway", sans-serif;
  background-color: #eee;
}

.container-max-width {
  max-width: 1024px;
}

.carousel-image {
  max-height: calc(100vh - 220px);
}

.text-content {
  max-height: calc(100vh - 250px);
  overflow: scroll;
}

.main-content {
  min-height: calc(100vh - 30px);
}

.max-width-400 {
  max-width: 400px;
}

.max-width-500 {
  max-width: 500px;
}

.nav-item-text:not(:first-child) {
  @apply ml-6;
}

.nav-item-text {
  font-size: 13px;
}
/*
styles for about/bio page
*/

.border-right-custom-blue {
  border-right: 2px solid #4dd0e1;
}

.color-custom-blue {
  color: #4dd0e1;
}

/* 
.BrainhubCarouselItem {
  visibility: hidden;
}

.BrainhubCarouselItem--active {
  visibility: visible;
} */
