@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif;
  background-color: #eeeeee;
}

.container-max-width {
  max-width: 1024px;
}

.carousel-image {
  max-height: calc(100vh - 200px);
}

.main-content {
  min-height: calc(100vh - 30px);
}

.carousel-content-text {
  max-width: 500px;
}

.max-width-400 {
  max-width: 400px;
}
