@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif;
}

.container-max-width {
  max-width: 1024px;
}

.carousel-image {
  max-height: 500px;
}

.main-content {
  min-height: calc(100vh - 30px);
}

.carousel-content-text {
  max-width: 500px;
}

.BrainhubCarouselItem {
  align-items: flex-start !important;
}

.max-width-400 {
  max-width: 400px;
}
