.BrainhubCarousel__customArrows button {
  margin-bottom: 125px;
}

.margin-bottom-125 {
  margin-bottom: 125px;
}

.text-content {
  height: calc(100vh - 250px);
  overflow: scroll;
  @apply w-4/5 m-auto;
}
